<nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3">
    <a class="navbar-brand" [routerLink]="['/acceso']">DiagnostiCar</a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyHeading1" routerLink="/datos-pers">Datos Personales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyHeading2" routerLink="/edit-pers">Editar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyHeading2" routerLink="/login">Desconectar</a>
      </li>
    </ul>
  </nav>

  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <strong>
        <ul class="list-group">
          <li class="list-group-item"> Automovil:<button class="btn btn-light"><i class="bi bi-pencil-square"></i>Editar</button></li>
          <li class="list-group-item"> N° de Patente:<button class="btn btn-light"><i class="bi bi-pencil-square"></i>Editar</button></li>
          <li class="list-group-item"> N° de Chasis:<button class="btn btn-light"><i class="bi bi-pencil-square"></i>Editar</button></li>
          <li class="list-group-item"> Fecha de Ingreso:<button class="btn btn-light"><i class="bi bi-pencil-square"></i>Editar</button></li>
          <li class="list-group-item"> Vida Util Aproximada:<button class="btn btn-light"><i class="bi bi-pencil-square"></i>Editar</button></li>
          <li class="list-group-item"> Fecha de Finalizacion:<button class="btn btn-light"><i class="bi bi-pencil-square"></i>Editar</button></li>
        </ul>
      </strong> 
      
    </div>
  </div>